@model IEnumerable<MundoDisney.Web.Data.Entities.PersonajePelicula>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Personaje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pelicula)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Personaje.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pelicula.Titulo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PersonajePeliculaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PersonajePeliculaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PersonajePeliculaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
